<h1>Order a 'za</h1>
<form action="{% url 'order' %}" method="POST">
  {% csrf_token %}
  {{ pizzaform.as_ul }}
  <input type="submit" name="" id="" value="Place Order">
</form>

<h2>{{ note }}</h2>

{% if created_pizza_pk %}
<a href="{% url 'edit_order' created_pizza_pk %}">Edit your order</a>
{% endif %}

<br><br>

<h3>Want more than one 'za to stuff your face-hole with?</h3>

<form action="{% url 'pizzas' %}" method="GET">
  {{ multiple_form }}
  <input type="submit" value="Get more 'za">
</form>